<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MVC_CodeFirst</title>
    <!--_CssPartial Çözümlenmesi-->
    <partial name="CssPartials/_CssPartial"/>
</head>
<body>
    <!--_Header Partial Çözümlenmesi-->
    <partial name="_HeaderPartial"/>
    <partial name="_MessagePartial"/>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

   <!--_Footer Partial Çözümlenmesi-->
   <partial name="_FooterPartial"/>
    <!--_Script Partial Çözümlenmesi-->
    <partial name="ScriptPartials/_ScriptPartial"/>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
