@model MovieCreateViewModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}





<div class="row">
    <div class="col-md-6 mx-auto">
        <form method="post">
            <div>
                <label>Movie Title</label>
                <input name="Title"  class="form-control" />
            </div>
            <div>
                <label>Movie Description</label>
                <input name="Description" class="form-control" />
            </div>
            <button type="submit">Oluştur</button>
        </form>


    </div>
</div>