<form method="post">
    <div>
        <span>Ürün Ad: </span>
        <input name="ProductName" type="text" />
    </div>
    <div>
        <span>Fiyat: </span>
        <input name="UnitPrice" type="number" />
    </div>
    <div>
        <span>Kategori: </span>
        <input name="CategoryName" type="text" />
    </div>

    <button type="submit">Oluştur</button>
</form>