<h1>Anasayfa</h1>

<ul>
    <li>
        <a href="/home/about">Hakkımızda</a>
    </li>
    <li>
        <a href="/home/contact">İletişim</a>
    </li>
    <li>
        <a href="/product/create">Ürün Ekle</a>
    </li>
</ul>