<h1>İletişim</h1>

<form method="post">
    <div>
        <span>Ad: </span>
        <input name="ad" type="text"  />
    </div>
    <div>
        <span>Email: </span>
        <input name="email" type="email" />
    </div>
    <div>
        <span>Mesaj: </span>
        <textarea name="mesaj" cols="5" rows="3" style="width: 170px; height: 121px;"></textarea>
    </div>

    <button type="submit">Gönder</button>
</form>