<form method="post">
    <div>
        <span>ID: </span>
        <input name="ID" type="number" />
    </div>
    <div>
        <span>ProductName: </span>
        <input name="ProductName   " type="text" />
    </div>
    <div>
        <span>UnitPrice: </span>
        <input name="UnitPrice   " type="number" />
    </div>
    <div>
        <span>CategoryName: </span>
        <input name="CategoryName   " type="text" />
    </div>

    <button type="submit">Gönder</button>
</form>