@model List<MVC_CodeFirst.Models.ViewModels.MovieListViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!--Durum mesajları burada gösterilir-->

<partial name="_MessagePartial"/>

<table class="table table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model)
        {
            <tr>
                <td>@movie.ID</td>
                <td>@movie.Title</td>
                <td>@movie.Description</td>
            </tr>
        }
    </tbody>
</table>

